[submodule "emacs/.emacs.d.symlink"]
	path = emacs/emacs.d.symlink
	url = git://github.com/technomancy/emacs-starter-kit.git
[submodule "vim"]
	path = vim
	url = git://github.com/eloyesp/vimfiles.git
